.ToolbarLogo {
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ToolbarLogo {
    animation: Toolbar-logo-spin infinite 0.5s linear;
  }
}

.ToolbarHeader {
  background-color: #282c34;
  height: 8vh;
  left: 0;
  top: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  z-index: 90;
}

.ToolbarHeader nav {
  height: 100%;
}

@media (max-width: 499px) {
  .ToolbarHeader {
    flex-direction: row-reverse;
  }

  .DesktopOnly {
    display: none;
  }
}

@keyframes Toolbar-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
